---
---

@import "{{ site.theme }}";

.page-header {
    /*background: none;
    background-color:#A9A9A9;*/
    padding: 0 !important;
}

.header-container {
    display: inline-flex;
    width: 100%;
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
}

.float-left {
    display: inline-flex;
    float:left;
    text-align: left;
    flex: 0.3;
}

.float-left img {
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
}

.float-right {
    float:right;
    padding-left: 1em;
    text-align: left;
    flex: 0.7;
}

.float-left, .float-left *, .float-right, .header-container {
    align-items: center;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media (max-width: 812px) { 
    .float-left {
        float: none;
        display: block;
        text-align: center;
        flex: 1;
    }

    .float-right {
        float: none;
        display: block;
        padding-left: 0em;
        flex: 1;
    }

    .float-left img {
        max-width: 25%;
    }

    .header-container {
        display: block;
        max-width: 100%;
        padding: 1rem 1rem;
    }
}

.project-logo {
    width: 200px;
    display: block;
    margin: auto;
    padding-top: 75px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}