<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://www.gravatar.com/avatar/0c915d0223f00045cd03f1d671fd2ba7?s=16" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30268984-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-30268984-1');
    </script>
  </head>
  <body>
    <section class="page-header">
      <div class="header-container">
          <div class="float-left">
            <div>
                <img src="https://secure.gravatar.com/avatar/0c915d0223f00045cd03f1d671fd2ba7?s=256" />
                {% include svg-icons.html %}    
            </div>
              
          </div>
          <div class="float-right">
              <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
              <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
              
              <!--<a href="{{ site.baseurl }}/" class="btn">Blog</a>-->
              <a href="{{ site.baseurl }}/" class="btn">About Me</a>
              <a href="{{ site.baseurl }}/blog" class="btn">Blog</a>
              <a href="{{ site.baseurl }}/projects" class="btn">Projects</a>
              <a href="{{ site.baseurl }}/resume" class="btn">Resume / CV</a>
          </div>

      </div>
    </section>

    <section class="breadcrumbs main-content">
      <ol class="breadcrumb">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
          {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
          {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
          {% for i in (1..forLoopMaxInt) %}
              {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
              {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
              {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
              {% for breadcrumb_page in site.pages %}
                  {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                  {% assign j = forLoopMaxInt | plus: 0 %}
                      <li {% if i == j %}class="active"{% endif %}>
                          {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                          <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
                      </li>
                  {% endif %}
              {% endfor %}
          {% endfor %}
      </ol>
    </section>

    <section class="main-content">

      {{ content }}

      <footer class="site-footer">

          {% include svg-icons.html %}

        <!--{% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>-->


        {% if page.comments %}
          {% include disqus.html %}
        {% endif %}

      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
